/* Conmebol Copa America 2021 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap'); */
.menu-bar{
    height: 44px;
    width: 1160px;
    left: 156px;
    top: 42px;
    border-radius: 0px;
}

.top-background{
    /* Blue background section */

position: absolute;
width: 1440px;
height: 677px;
left: 0px;
top: 0px; 

background: #2D25A0;
display: flex;

}
.top-background:hover {

    transform: rotate(360deg);
    transition:ease-in-out 5s;
    font-style: italic;

} 
@media screen and (max-width: 774px) {
    .top-background{    
        flex:50%;    
    /* flex-direction: column;  */
    flex-wrap:wrap;     
    margin-bottom: 12px;
    }
    }
    @media screen and (max-width: 774px) {
        .top-section-banner img{  
            display:flex;  
            flex:50%;    
        /* flex-direction: column;  */
        flex-wrap:wrap;     
       
        }
        }   
/* Section title */
.top-section-text{
    position: absolute;
    width: 485px;
    height: 230px;
    left: 156px;
    top: 207px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    /* or 125% */
}
/*live-icon description */

.live-icon{
    background: #E02C6D;
    height: 44px;
    width: 168px;
    left: 156px;
    top: 464px;

    border-radius: 0px;
    padding: 10px, 24px, 10px, 24px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;

    /* height: 24px;
    width: 88px; */
    left: 24px;
    padding-top: 10px;
    border-radius: nullpx;    
}
/* Arrow-icon description */
.fa-arrow-right{
    height: 24px;
    width: 24px;
    left: 120px;
    top: 10px;
    border-radius: 0px;

}
.top-section-banner img{
    position: absolute;     
    width: 556.01px; 
    height: 438px; 
    left:743px; 
    top: 153px;     
}
/* players section */
.flex-container, #cont-2, #cont-3{
    display: flex;
    position: absolute;  
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr); */
    height: 474px;
    width: 1050px; 
    left: 180px;
    margin-bottom: 27px;
    border-radius: 0px;
    
}
/* .players-highlights{
    display: flex;
} */
@media screen and (min-width:400px)and (max-width: 774px) {
    #cont-1,#cont-2, #cont-3{    
        flex:50%;
        /* float:left;     */
    /* flex-direction: column;  */
     flex-wrap:wrap;  
    /* overflow-block: scroll; */
    margin-top:200px;
    margin-bottom: 12px;
    }
    }


 /* @media screen and  (max-device-width : 480px)  {
        div.flex-container{
        flex: 25%;
        flex-direction:column;
        flex-wrap:wrap;
        }
        } */
.flex-item {
    height: 474px;
    width: 330px;
    left: 180px;
    top: 747px;
    border-radius: 0px;
    padding: 15px;
    margin-right: 30px;
    margin-bottom: 27px;
    /* position: relative; */
    box-shadow: 0px 0px 40px 0px #00000026;
}
.flex-item img{
    height: 256px;
    width: 300px;
    left: 0px;
    top: 0px;
    border-radius: 0px; 
}
.flex-item-title{
    height: 40px;
    width: 300px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
}
.flex-item-text{
    height: 104px;
    width: 300px;
    left: 0px;
    top: 50px;
    border-radius: nullpx;
}
@media screen and (min-width:400px) and (max-width: 774px) {
   footer{  
       display: flex;
       float:left;  
        flex:50%;    
    /* flex-direction: column;  */
   
    
    }
    }
footer{
    position: absolute;
    height: 213px;
    width: 483.87103271484375px;
    left: 475px;
    top: 3474px;
    /* border: lawngreen solid;
    border-radius: 0px; */

} 
footer img{
    height: 110px;
    width: 483.8
}
.media-icon-box{
    height: 32px;
    width: 170px;
    margin-left: 156.93551635742188px;
    top: 130px;
    /* border-radius: 0px;
    border: red solid; */
}
 #icon{
    height: 32px;
    width: 32px;
    margin-left: 12px;
    top: 0px;
    border-radius: 0px;
    
 }
.copy-rights{
    height: 31px;
    width: 236px;
    margin-left: 123.93551635742188px;
    top: 182px;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;


}
